@model Rejestr_PawełPieniak.Models.OsobyZaginione

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OsobyZaginione</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfDisappearance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfDisappearance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PictureName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PictureName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityOfDisappearance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityOfDisappearance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationOfDisappearance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationOfDisappearance)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdPersons }) |
    @Html.ActionLink("Back to List", "Index")
</p>
